/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.round_border_electricity {
  /* set border styling */
  border-color: gray;
  border-style: groove;
  border-width: 2px;
  background:rgba(251,255,25,0.7);
  /* set border roundness */
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.round_border_gas {
  /* set border styling */
  border-color: gray;
  border-style: groove;
  border-width: 2px;
  background:rgba(2,227,6,0.5);
  /* set border roundness */
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.round_border_water {
  /* set border styling */
  border-color: gray;
  border-style: groove;
  border-width: 2px;
  background:rgba(0,215,219,0.5);
  /* set border roundness */
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}